body{
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
.nav-header{
  width: 100%;
  margin: 0 auto;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(165, 206, 242);
}
.nav-logo{
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-menu{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
}
.nav-menu a,.nav-logo a{
text-decoration: none;
color: white;
padding: 50px 10px;
font-size: 20px;
}
/* ============================
Influencer  part css here...
============================ */
.influencer-part{
  width: 100%;
  margin: 0 auto;
}
.influence-container{
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
.influencer-info{
  display: flex;
  text-align: left;
  width: 100%;
  padding: 5px 50px;
  justify-content: center;
  flex-direction: column;
}
.influencer-button{
  width: 20%;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  background-color: purple;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.influencer-button i{
  padding-left: 5px;
}
.influencer-image{
  padding: 40px;
  display: flex;
  justify-content: center;
  background-image: url(/images/Circle\ design.svg);
  background-repeat: no-repeat;

}
.influencer-image image{
  width: 50%;
  align-items: center;
}



/* =======================
Navigation Media quary
======================= */
@media screen and (max-width:666px) {
  .menu-item{
    display: none;
  }
  .nav-container{
    flex-direction: row-reverse;
  }
  .influence-container{
    display: flex;
    flex-direction: column-reverse;
  }
  
  
}
/* @media screen and (min-width:666px) {
  .menu-bar{
    display: none;
  } 
  
  
}*/
